#root{
  height: 100vh;
  font-size: 18px;
}
.ant-layout{
  height: 100%;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-header{
  padding: 0 16px !important;
}

.avatar{
  border-radius: 50%;
}
.ant-checkbox-wrapper{
  margin-left: 0 !important;
}
.bars{
    position: relative;
}
.bars:after{
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    height: 100%;
    width: 5px;
    background-color: rgb(74,164,198);
}
.ant-layout-content{
    min-height: auto !important;
}