#root, body, html {
  height: 100%;
}
.bg_login{
  width: 100%;
  height: 100%;
  background-image: url('./public/bg.jpg');
  background-size: 100% 100%;
}

.bg_tit{
 text-align: center;
 width: 50%;
 display: block;
 margin: auto;
 height: 45px;
 padding-top: 200px;
}

.bg_div{
  width:50%;
  height:500px;
  background:linear-gradient(#2c78b6,#095494);
  margin:150px auto;
  display:block;
  border-radius:30px;
  border: 1px solid white;
}

.bg_mesa{
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width:750px;
  height:400px;
  margin:auto;
  border-radius: 10px;
  background-color: white;
  opacity:.4;
  box-shadow: 1px 2px 3px black;
}

.bg_toum{
  position:absolute;
  width:390px;
  height:260px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255,0,0,.5);
  border-radius:10px;
}
.bg_res{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:15px;
}
.cha_a{
  float: right;
  margin: 20px;
}
.home_tit{
  width:97%;
  height:100px;
  display:block;
  margin:15px auto;
  text-align:center;
  border: 1px solid grey;
}
.home_img{
  width:650px;
  height:480px;
  border: 1px solid grey;
}
.class_cover {
  position: absolute;
  top:638px;
  width: 649px;
  height: 70px;
  background-color: rgba(0, 0, 0, .5);
  line-height: 70px;
}
.home_tit2{
  width:650px;
  height:80px;
  text-align:center;
  background:linear-gradient(skyblue,lightgrey);
  border: 1px solid grey;
}
.home_cont{
  margin-top:10px;
  width:650px;
  height:480px;
  background:linear-gradient(skyblue,lightgrey);
  border: 1px solid grey;
}
.link{
  color: black;
}
.link:hover{
  color:#5cb4fc;
}
.span{
    float:right;
    padding-right:10px;
    color:black;
}
.dim_head{
  background-color: lightgray;
  width:100%;
  height:150px;
  border:1px solid grey;
}
.dim_choose{
  float:left;
  margin:22px;
}
.dim_s{
  margin-top:30px;
  margin-right:30px;
  float:right;
}
.Sta_head{
  display: flex;
  flex-direction: row;
  width:100%;
  height:150px;
  border:1px solid #189bc1;
}
.Sta_choose{
  float:left;
  margin:20px;
  width: 150px;
  background: #189bc1;
  color: white;
}
.Sta_s{
  margin-top:100px;
  margin-right:30px;
  float:right;
  background: #045a73;
}
.sta_date{
  margin-top: 55px;
  margin-left: 250px;
  width:600px;
  height:100px;
}
.Sta_v{
  display: flex;
  flex-direction: row;
}
.Sta_tab{
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Sta_cont{
  display: flex;
  flex-direction: row;
}
.Sta_OO{
  z-index: 1111;
  border:1px solid grey;
  width: 50px;
  height: 50px;
}
.DDD{
  background:linear-gradient(#6cbaed,#1674c4);
}
.Sta_pie{
  display: flex;
  flex-direction: column;
}
.sta_btn{
  width:100%;
  height:50px;
   margin-top: 10px;
}
.sta_date > .data_pic{
  margin-right:60px;
  border:#189bc1 1px solid;
}
.wages_head{
  width:100%;
  height:150px;
  border:1px solid #189bc1;
}
.wages_choose{
  float:left;
  margin:18px;
}
.wages_date{
  margin-left: 40px;
  margin-top: 17px;
  float: left;
  display: flex;
  flex-direction:row;
}
.wages_date > .wages_data_pic{
  margin-right:60px;
}
.wages_table{
  margin-top: 10px;
  border: 1px solid #189bc1;
}
.foot_tit{
  display: flex;
  justify-content: center;
}
.edi_s{
  margin-top:98px;
  margin-right:30px;
  float:right;
}
.lea_s{
  margin-top:98px;
  margin-right:30px;
  float:right;
}